.about-text {
    width: 60%;
    padding: 0 30px;
}

.about-text p {
    width: 90%;
    margin: auto;
}

.about-text h2 {
    margin: 25px 0;
    font-size: large;
    text-align: center;
    text-transform: none;
}

.skills {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    justify-content: center;
}

.skill-item {
    cursor: pointer;
    font-weight: 500;
    padding: 5px 15px;
    font-size: xx-large;
    margin: 0 5px 5px 0;
    border-radius: 20px;
    transform: scale(1);
    color: var(--dark-blue);
    transition: all 0.25s ease;
    -webkit-text-stroke: 0.5px var(--dark-blue);
}

.skill-item:hover {
    transform: scale(1.1);
}

.quote {
    max-width: 380px;
    padding: 5px 1px;
    text-align: center;
    color: var(--gray);
}

.about-img {
    width: 40%;
    padding: 0 15px;
}

.about-img .img-box {
    max-width: 380px;
    margin-top: 55px;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
    border: 5px solid var(--white-alpha-40);
    background-color: var(--white-alpha-25);
}

.about-img .img-box:hover {
    transform: scale(1.025);
    opacity: 0.9;
}

.about-img .img-box img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.timeline-box {
    width: 75%;
    padding: 0;
    margin: 45px auto;
}

.about-tabs {
    text-align: center;
}

.date {
    font-weight: 400;
    font-size: medium;
}

.about-tabs .tab-item {
    border: none;
    opacity: 0.5;
    padding: 1px 0;
    cursor: pointer;
    font-size: large;
    position: relative;
    margin: 0 20px 0 10px;
    display: inline-block;
    color: var(--dark-blue);
    transition: all 0.25s ease;
    text-transform: capitalize;
    background-color: transparent;
}

.about-tabs .tab-item:last-child {
    margin: 0;
}

.about-tabs .tab-item::before {
    content: '';
    position: absolute;
    transition: width 0.25s ease;
    background-color: var(--dark-blue);
    height: 1px;
    width: 0%;
    bottom: 0;
    left: 0;
}

.about-tabs .tab-item:hover::before {
    width: 100%;
}

.about-tabs .tab-item.active::before {
    width: 100%;
    background-color: var(--red);
}

.about-tabs .tab-item.active {
    opacity: 1;
    cursor: auto;
    color: var(--red);
}

.timeline-box .tab-content {
    display: none;
    padding: 30px 0;
}

.timeline-box .tab-content.active {
    display: block;
    transition: all 0.25s ease;
}

.timeline-box .timeline {
    position: relative;
}

.timeline-box .timeline-item {
    position: relative;
    margin-bottom: 30px;
    padding: 10px 0 0 25px;
}

.timeline-box .timeline::before {
    content: '';
    position: absolute;
    background-color: var(--red);
    height: 100%;
    width: 1px;
    left: 5px;
    top: 0;
}

.timeline-box .timeline-item::before {
    content: '';
    position: absolute;
    background-color: var(--red);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    top: 15px;
    left: 0;
}

.timeline-box .timeline-item:last-child {
    margin: 0;
}

.timeline-box .timeline-item h5 {
    margin: 0 0 10px;
    font-size: medium;
    text-transform: capitalize;
}

.timeline-box .timeline-item h5 span {
    font-weight: 400;
}

.timeline-item-link {
    color: var(--red);
    transition: color 0.25s;
}

.timeline-item-link:hover {
    color: var(--light-red);
}

.timeline-item li {
    font-weight: 300;
    font-size: medium;
}

.timeline-images {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 5px;
}

.timeline-images a {
    padding: 1px;
}

.timeline-images img {
    height: 150px;
    max-width: 250px;
    border-radius: 5px;
    border: 5px solid var(--white-alpha-40);
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.timeline-images img:hover {
    transform: scale(1.025);
    opacity: 0.9;
}

.about-section .btn {
    margin: 5px;
}

.about-section .btn:hover {
    color: var(--white);
    background-color: var(--dark-blue);
}

.about-btns {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.line {
    height: 1px;
    width: 100%;
    margin: 50px 0;
    background-color: var(--red);
}

/* ~~~~~~~~~~~~~~~~~~~~~ RESPONSIVE ~~~~~~~~~~~~~~~~~~~~~ */

@media (max-width: 1225px) {
    .about-text p,
    .about-text h2 {
        font-size: medium;
    }

    .about-img,
    .about-text {
        padding: 0;
        width: 100%;
        margin: 10px 15px;
    }

    .about-img .img-box {
        margin: 10px auto;
    }

    .quote {
        padding: 1px;
        max-width: 310px;
        font-size: small;
        margin: -5px auto;
    }

    .timeline-images img {
        height: 125px;
        max-width: 225px;
    }
}

@media (max-width: 1045px) {
    .timeline-item li {
        font-size: small;
        font-weight: 400;
    }
    
    .timeline-images img {
        height: 95px;
        max-width: 175px;
    }
}

@media (max-width: 767px) {
    .skills {
        max-width: 400px;
    }

    .skill-item {
        font-size: x-large;
    }

    .about-text p,
    .about-text h2 {
        font-size: small;
    }

    .quote {
        margin: -20px auto;
        padding-top: 15px;
    }

    .about-tabs .tab-item {
        font-size: medium;
    }
    
    .timeline-box {
        width: 95%;
        padding: 0 15px;
        margin: 15px auto;
    }

    .timeline-box .timeline-item h5 {
        font-size: small;
    }

    .timeline-box .timeline-item li {
        font-size: small;
        font-weight: 400;
    }

    .timeline-images img {
        height: 85px;
        max-width: 165px;
    }
}

@media (max-width: 575px) {
    .about-text p {
        width: 90%;
    }

    .timeline-box {
        width: 95%;
        padding: 0 15px;
        margin: 15px auto;
    }

    .timeline-images img {
        height: 70px;
        max-width: 140px;
    }

    .about-btns {
        flex-direction: column;
    }

    .about-btns .btn {
        margin: 5px auto;
    }
}