@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --red: #E02F6B;
    --pink: #EFA2B4;
    --cyan: #AEF1EE;
    --white: #FFFFFF;
    --orange: #FFA500;
    --green: #CDDC39;
    --blue: #0000FF;
    --dark-blue: #18293C;
    --white-alpha-40: rgba(225, 255, 255, 0.40);
    --white-alpha-25: rgba(225, 255, 255, 0.25);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

*::selection {
    text-shadow: 5px 5px 5px var(--red);
}

::before,
::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    padding: 35px 15px;
    overflow-x: hidden;
    font-weight: 300;
    font-size: medium;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom right, var(--pink), var(--cyan));
}

body::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.10;
    position: fixed;
    line-height: 1.5;
    color: var(--dark-blue);
    background-color: var(--green);
}

body.disable-scrolling {
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

section {
    display: none;
    min-height: calc(100vh - 70px);
    border: 1px solid var(--white-alpha-25);
    background-color: var(--white-alpha-40);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

section.active {
    display: block;
    animation: fadeIn 0.25s ease-in-out forwards;
}

section.fade-out {
    animation: fadeOut 0.25s ease-in-out forwards;
}

.main {
    margin: auto;
    max-width: 1200px;
    position: relative;
    transition: all 0.25s ease-in-out;
}

.main.fade-out {
    opacity: 0;
}

.container {
    width: 100%;
    padding: 0 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.center {
    text-align: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.flex-end {
    justify-content: flex-end;
}

/* ~~~~~~~~~~~~~~~~~~~~~ ANIMATIONS ~~~~~~~~~~~~~~~~~~~~~ */

@keyframes fadeIn {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~ SCROLL BAR ~~~~~~~~~~~~~~~~~~~~~ */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--red);
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

/* ~~~~~~~~~~~~~~~~~~~~~ BUTTONS ~~~~~~~~~~~~~~~~~~~~~ */

button {
    user-select: none;
    font-family: inherit;
}

.btn {
    cursor: pointer;
    overflow: hidden;
    line-height: 1.5;
    font-weight: 500;
    color: var(--red);
    font-size: medium;
    user-select: none;
    position: relative;
    padding: 10px 30px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.25s ease;
    text-transform: capitalize;
    border: 1px solid var(--white-alpha-40);
    background-color: var(--white-alpha-25);
}

.btn::before {
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    position: absolute;
    transition: all 0.25s ease;
    background-color: var(--red);
}

.btn:hover {
    color: var(--white);
}

.btn:hover::before {
    width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~ */

.header {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 20px 0 0;
    position: absolute;
}

.header.active {
    top: 35px;
    position: fixed;
    padding: 20px 15px;
}

.header.active .container {
    margin: auto;
    max-width: 1200px;
}

.header .nav-toggler {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 1;
}

.header .nav-toggler span {
    width: 25px;
    height: 2px;
    position: relative;
    background-color: var(--red);
    transition: background-color 0.25s ease;
}

.header.active .nav-toggler span {
    background-color: transparent;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after {
    content: '';
    position: absolute;
    background-color: var(--red);
    transition: all 0.25s ease;
    height: 100%;
    width: 100%;
    top: 0;
}

.header .nav-toggler span::before {
    transform: translateY(-10px);
    left: 0;
}

.header.active .nav-toggler span::before {
    transform: rotate(45deg);
}

.header .nav-toggler span::after {
    transform: translateY(10px);
    right: 0;
}

.header.active .nav-toggler span::after {
    transform: rotate(-45deg);
}

.header:not(.active) .nav-toggler:hover span::before,
.header:not(.active) .nav-toggler:hover span::after {
    width: 50%;
}

.header .nav-main {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    padding: 30px 15px;
    visibility: hidden;
}

.header.active .nav-main {
    visibility: visible;
}

.header .nav-inner {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    backdrop-filter: blur(5px);
    border: 1px solid var(--white-alpha-40);
    background-color: var(--white-alpha-25);
    min-height: calc(100vh - 70px);
    transition: all 0.25s ease;
    border-radius: 20px;    
    max-width: 1200px;
    padding: 50px 0;
    opacity: 0;
}

.header.active .nav-inner {
    opacity: 1;
}

.header .nav-inner ul li {
    text-align: center;
}

.header .nav-inner ul li a {
    display: block;
    font-weight: 500;
    font-size: x-large;
    padding: 10px 15px;
    position: relative;
    color: var(--dark-blue);
    text-transform: capitalize;
    transition: color 0.25s ease;
}

.header .nav-inner ul li a::before {
    content: '';
    z-index: -1;
    position: absolute;
    background-color: var(--white-alpha-25);
    transition: width 0.25s ease;    
    height: 100%;
    width: 0%;
    bottom: 0;
    right: 0;   
}

.header .nav-inner ul li a:hover::before {
    width: 100%;
}

.header .nav-inner ul li a:hover {
    color: var(--red);
}

/* ~~~~~~~~~~~~~~~~~~~~~ HOME ~~~~~~~~~~~~~~~~~~~~~ */

.home-section {
    padding: 120px 0;
}

.home-section.active {
    display: flex;
}

.intro {
    font-size: large;
    text-transform: capitalize;
}

.intro-text {
    margin-left: 5px;
}

.intro-text p:nth-child(3) {
    margin-bottom: 30px;
}

.intro, .home-img {
    width: 50%;
    padding: 15px;
}

.home-img .img-box {
    margin: auto;
    max-width: 360px;
    border-radius: 50%;
    background-color: var(--white-alpha-25);
    border: 5px solid var(--white-alpha-40);
}

.home-img .img-box img {
    width: 100%;
    border-radius: 50%;
}

/* ~~~~~~~~~~~~~~~~~~~~~ SECTION ~~~~~~~~~~~~~~~~~~~~~ */

.section-padding {
    padding: 100px 0;
}

.section-title {
    width: 100%;
    padding: 0 15px;
    font-size: larger;
    text-align: center;
    margin-bottom: 10px;
    text-transform: capitalize;
}

/* ~~~~~~~~~~~~~~~~~~~~~ ABOUT ~~~~~~~~~~~~~~~~~~~~~~ */
 
.about-text {
    width: 60%;
    padding: 0 15px;
}

.about-text h2 {
    margin: 20px 0;
    font-size: large;
    text-align: center;
    text-transform: capitalize;
}

.about-text .skills {
    display: flex;
    flex-wrap: wrap;
}

.about-text .skill-item {
    padding: 5px 15px;
    margin: 0 10px 10px 0;
    background-color: var(--white-alpha-25);
    border: 5px solid var(--white-alpha-40);
    border-radius: 20px;
}

.about-img {
    width: 40%;
    padding: 0 15px;
}

.about-img .img-box {
    margin: auto;
    max-width: 380px;
    border-radius: 10px;
    border: 5px solid var(--white-alpha-40);
    background-color: var(--white-alpha-25);
}

.about-img .img-box img {
    width: 100%;
}

.about-tabs {
    margin-top: 20px;
    text-align: center;
}

.about-tabs .tab-item {
    border: none;
    opacity: 0.5;
    padding: 1px 0;
    cursor: pointer;
    font-size: large;
    position: relative; 
    margin: 0 20px 0 10px;
    display: inline-block;
    color: var(--dark-blue);
    transition: all 0.25s ease;
    text-transform: capitalize;
    background-color: transparent;
}

.about-tabs .tab-item:last-child {
    margin: 0;   
}

.about-tabs .tab-item::before {
    content: '';
    position: absolute;
    transition: width 0.25s ease;
    background-color: var(--dark-blue);
    height: 1px;
    width: 0%;
    bottom: 0;
    left: 0;
}

.about-tabs .tab-item:hover::before {
    width: 100%;
}

.about-tabs .tab-item.active::before {
    width: 100%;
    background-color: var(--red);
}

.about-tabs .tab-item.active {
    opacity: 1;
    cursor: auto;
    color: var(--red);
}

.about-text .tab-content {
    display: none;
    padding: 30px 0;
}

.about-text .tab-content.active {
    display: block;
    transition: all 0.25s ease;
}

.about-text .timeline {
    position: relative;
}

.about-text .timeline-item {
    position: relative;
    margin-bottom: 30px;
    padding: 10px 0 0 30px;
}

.about-text .timeline::before {
    content: '';
    position: absolute;
    background-color: var(--red);
    height: 100%;
    width: 1px;
    left: 5px;
    top: 0;
}

.about-text .timeline-item::before {
    content: '';
    position: absolute;
    background-color: var(--red);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    top: 15px;
    left: 0;
}

.about-text .timeline-item:last-child {
    margin: 0;
}

.about-text .timeline-item .date {
    display: block;
    font-weight: 500;
    margin: 0 0 10px;
    color: var(--red);
}

.about-text .timeline-item h5 {
    margin: 0 0 10px;
    font-size: medium;
    text-transform: capitalize;
}

.about-text .timeline-item h5 span {
    font-weight: 400;
}

.about-text .btn {
    margin: 20px 0 20px 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~ PORTFOLIO ~~~~~~~~~~~~~~~~~~~~~~ */

.portfolio-section {
    padding: 50px;
}

.portfolio-section h1 {
    padding-bottom: 50px;
}

.portfolio-item {
    margin: 0 15px 30px;
    width: calc((100% / 3) - 30px);
}

.portfolio-item h2 {
    margin: 20px 0; 
    font-size: large;
    text-transform: capitalize;
}

.portfolio-item-thumbnail {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--white-alpha-40);
    background-color: var(--white-alpha-25);
}

.portfolio-item-thumbnail img {
    width: 100%;
    border-radius: 10px;
}

.portfolio-item-details {
    display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~ PORTFOLIO POPUP ~~~~~~~~~~~~~~~~~~~~~~ */

.portfolio-popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    visibility: hidden;
}

.portfolio-popup.open {
    overflow-y: auto;
    visibility: visible;
}

.popup-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 15px;
    min-height: 100vh;
}

.popup-content {
    width: 100%;
    padding: 30px;
    max-width: 900px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--white-alpha-40);
    background-color: var(--white-alpha-25);
    transform: scale(0.5);
    opacity: 0;
}

.portfolio-popup.open .popup-content {
    opacity: 1;
    transform: scale(1);
    transition: all 0.5 ease;
}

.popup-header {
    position: relative;
}

.popup-header .btn {
    padding: 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: larger;
    right: -45px;
    top: -45px;
}

.popup-header h2 {
    font-size: large;
    margin: 20px 0 20px;
    text-transform: capitalize;
}

.popup-thumbnail img {
    border-radius: 10px;
}

.popup-body .description {
    margin-bottom: 20px;
}

.popup-body .general-info li {
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.popup-body .general-info li span {
    font-weight: 300;
}

.popup-body .general-info li a {
    text-transform: lowercase;
    color: var(--red);
}

/* ~~~~~~~~~~~~~~~~~~~~~ CONTACT ~~~~~~~~~~~~~~~~~~~~~~ */

.contact-section {

}

.contact-form,
.contact-info {
    width: 50%;
    padding: 0 20px;
}

.contact-form .input-group {
    width: 100%;
    margin-bottom: 20px;
}

.contact-form .input-control::placeholder {
    opacity: 0.5;
    font-weight: 400;
    color: var(--dark-blue);
}

.contact-form .input-control {
    width: 100%;
    height: 50px;
    border: none;
    display: block;
    padding: 0 20px;
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: var(--white-alpha-25);
    transition: all 0.25s ease;
    color: var(--dark-blue);
    font-family: inherit;
    font-weight: 500;
    font-size: large;
}

.contact-form .input-control:focus {
    border-color: var(--white-alpha-25);
    background-color: var(--white-alpha-40);
}

.contact-form textarea.input-control {
    resize: none;
    height: 120px;
    padding-top: 20px;
}   

.contact-info-item {
    margin: 0 0 30px;
    padding-left: 30px;
}

.contact-info-item h2 {
    margin: 0 0 5px;
    font-size: larger;
    text-transform: capitalize;
}

.contact-info-item .social-links a {
    width: 50px;
    height: 50px;
    margin: 5px 5px;
    color: var(--red);
    font-size: x-large;
    border-radius: 50%;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    transition: all 0.25s ease;
    border: 1px solid var(--white-alpha-40);
    background-color: var(--white-alpha-25);
}

.contact-info-item .social-links a:hover {
    color: var(--white);
    background-color: var(--red);
}









