@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --red: #A00023;
    --blue: #2A85BE;
    --cyan: #9EF5F0;
    --gray: #555555;
    --white: #F4FAFD;
    --green: #40BD1A;
    --orange: #D19616;
    --dark-blue: #18293C;
    --light-red: #B4060E;
    --light-blue: #A9D5F1;
    --light-purple: #939DED;
    --white-alpha-40: rgba(225, 255, 255, 0.40);
    --white-alpha-25: rgba(225, 255, 255, 0.25);
    --red-background: linear-gradient(to bottom right, var(--red), var(--dark-blue));
    --blue-background: linear-gradient(to bottom right, var(--light-blue), var(--light-purple));

}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

*::selection {
    text-shadow: 5px 5px 5px var(--white);
}

:focus {
    outline: none !important;
}

::before,
::after {
    box-sizing: border-box;
}

.remove-highlight {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.remove-highlight:focus {
    outline: none !important;
}

.accelerate {
    will-change: transform, opacity;
    -webkit-transform: translate3d(0, 0, 0);
}

body {
    line-height: 1.5;
    font-weight: 300;
    min-width: 360px;
    min-height: 100vh;
    font-size: medium;
    padding: 35px 15px;
    overflow-x: hidden;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    background-image: var(--blue-background);
}

body::before {
    content: '';
    z-index: -1;
    opacity: 0.1;
    line-height: 1.5;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

body.disable-scrolling {
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-weight: 400;
    font-size: large;
}

h1, h2, h3 {
    color: var(--dark-blue);
}

img {
    max-width: 100%;
    vertical-align: middle;
}

section {
    display: none;
    min-height: calc(100vh - 70px);
    border: 1px solid var(--white-alpha-25);
    background-color: var(--white-alpha-40);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

section.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out forwards;
}

section.home-section {
    min-height: calc(100vh - 70px);
}

section.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

.main {
    margin: auto;
    max-width: 1200px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.main.fade-out,
.loader.fade-out,
.space-loader.fade-out,
.popup-loader.fade-out,
.bg-icons-box.fade-out,
.midget-salt-bae.fade-out {
    opacity: 0;
    visibility: hidden;
}

.container {
    width: 100%;
    padding: 0 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.center {
    text-align: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.flex-end {
    justify-content: flex-end;
}

/* ~~~~~~~~~~~~~~~~~~~~~ SCROLL BAR ~~~~~~~~~~~~~~~~~~~~~ */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--white-alpha-40);
}

::-webkit-scrollbar-track {
    background-color: var(--white-alpha-25);
}

/* ~~~~~~~~~~~~~~~~~~~~~ BUTTONS ~~~~~~~~~~~~~~~~~~~~~ */

button {
    user-select: none;
    font-family: inherit;
}

.btn {
    z-index: 100;
    cursor: pointer;
    overflow: hidden;
    line-height: 1.5;
    font-weight: 500;
    font-size: medium;
    user-select: none;
    position: relative;
    padding: 10px 30px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
    color: var(--dark-blue);
    transition: all 0.25s ease;
    text-transform: capitalize;
    border: 1px solid var(--white-alpha-40);
    background-color: var(--white-alpha-25);
}

.btn::before {
    content: '';
    z-index: -1;
    transition: all 0.25s ease;
    background-color: var(--dark-blue);
    position: absolute;
    height: 100%;
    width: 0%;
    left: 0;
    top: 0;
}

.btn:hover {
    color: var(--white);
    border-color: var(--white-alpha-25);
}

.btn:hover::before {
    width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~ ANIMATIONS ~~~~~~~~~~~~~~~~~~~~~ */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes zoomAndSpin {

    0%,
    100% {
        transform: scale(0.75) rotate(360deg);
    }

    50% {
        transform: scale(1) rotate(-360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounceAndSpin {

    0%,
    100% {
        transform: translateY(200px) rotate(-360deg);
    }

    50% {
        transform: translateY(220px) rotate(360deg);
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~ BACKGROUND ICONS ~~~~~~~~~~~~~~~~~~~~~~ */

.bg-icons-box {
    display: none;
}

.bg-icons-box.active {
    top: 0;
    left: 50%;
    height: 100%;
    display: block;
    position: fixed;
    max-width: 1150px;
    width: calc(100% - 30px);
    transform: translateX(-50%);
    animation: fadeIn 6s ease-in forwards;
}

.bg-icons-box div {
    position: absolute;
    border-radius: 50%;
}

.bg-icons-box .bg-icon:nth-child(1) {
    top: 10%;
    left: 15%;
    opacity: 0.5;
    width: 150px;
    height: 150px;
    transition: all 1s ease-in-out;
    animation: zoomAndSpin 75s linear infinite;
}

.bg-icons-box .bg-icon:nth-child(2) {
    top: 40%;
    left: 40%;
    opacity: 0.5;
    width: 150px;
    height: 150px;
    transition: all 2s ease-in-out;
    animation: zoomAndSpin 100s ease-in-out infinite;
}

.bg-icons-box .bg-icon:nth-child(3) {
    top: 10%;
    left: 80%;
    opacity: 0.5;
    width: 150px;
    height: 150px;
    transition: all 3s ease-in-out;
    animation: zoomAndSpin 125s linear infinite;
}

.bg-icons-box .bg-icon:nth-child(4) {
    top: 70%;
    left: 80%;
    opacity: 0.5;
    width: 150px;
    height: 150px;
    transition: all 4s ease-in-out;
    animation: zoomAndSpin 150s linear infinite;
}

.bg-icons-box .bg-icon:nth-child(5) {
    top: 55%;
    left: 5%;
    opacity: 0.5;
    width: 150px;
    height: 150px;
    transition: all 5s ease-in-out;
    animation: zoomAndSpin 175s linear infinite;
}

.bg-icons-box .bg-icon:nth-child(6) {
    top: 65%;
    left: 20%;
    opacity: 0.5;
    width: 150px;
    height: 150px;
    transition: all 6s ease-in-out;
    animation: zoomAndSpin 200s linear infinite;
}

.bg-icons-box .bg-icon:nth-child(7) {
    top: 75%;
    left: 5%;
    opacity: 0.5;
    width: 150px;
    height: 150px;
    transition: all 7s ease-in-out;
    animation: zoomAndSpin 225s linear infinite;
}

/* ~~~~~~~~~~~~~~~~~~~~~ OVERLAY ~~~~~~~~~~~~~~~~~~~~~~ */

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0.5;
    position: fixed;
    visibility: hidden;
    background-color: transparent;
}

.overlay.active {
    visibility: visible;
}

/* ~~~~~~~~~~~~~~~~~~~~~ LOADER ~~~~~~~~~~~~~~~~~~~~~~ */

.loader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    transition: all 0.5s ease-out;
    user-select: none;
    position: fixed;
}

.loader div {
    opacity: 0.5;
    position: absolute;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    animation: spin 1s linear infinite;
}

.loader div:nth-child(1) {
    width: 80px;
    height: 80px;
    border-color: var(--dark-blue);
    animation-duration: 1s;
}

.loader div:nth-child(2) {
    width: 60px;
    height: 60px;
    border-color: var(--red);
    animation-duration: 1.25s;
}

.loader div:nth-child(3) {
    width: 40px;
    height: 40px;
    border-color: var(--dark-blue);
    animation-duration: 1.5s;
}

.loader div:nth-child(4) {
    width: 20px;
    height: 20px;
    border-color: var(--red);
    animation-duration: 1.75s;
}

/* ~~~~~~~~~~~~~~~~~~~~~ ALIEN LOADER ~~~~~~~~~~~~~~~~~~~~~~ */

.space-loader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    transition: all 0.5s ease-out;
    user-select: none;
    position: fixed;
}

.space-loader div {
    opacity: 1;
    position: absolute;
    text-shadow: 0.5px 0.5px var(--dark-blue);
    animation: spin 1s linear infinite;
}

.space-loader div:nth-child(1) {
    width: 160px;
    height: 160px;
    font-size: larger;
    animation-duration: 2s;
}

.space-loader div:nth-child(2) {
    width: 120px;
    height: 120px;
    font-size: large;
    animation-duration: 4s;
}

.space-loader div:nth-child(3) {
    width: 80px;
    height: 80px;
    font-size: large;
    animation-duration: 6s;
}

.space-loader div:nth-child(4) {
    width: 20px;
    height: 20px;
    font-size: larger;
    animation-duration: 8s;
}


/* ~~~~~~~~~~~~~~~~~~~~~ SECTION ~~~~~~~~~~~~~~~~~~~~~ */

.section-padding {
    padding: 70px 0;
}

.section-title {
    width: 100%;
    padding: 0 15px;
    font-size: larger;
    text-align: center;
    margin-bottom: 10px;
    text-transform: capitalize;
}

/* ~~~~~~~~~~~~~~~~~~~~~ HOME ~~~~~~~~~~~~~~~~~~~~~ */

.home-section {
    padding: 0;
}

.home-section.active {
    display: flex;
}

.intro {
    font-size: large;
    text-transform: capitalize;
}

.intro .btn {
    margin: 5px;
}

.intro .btn:hover {
    color: var(--white);
    background-color: var(--dark-blue);
}

.intro-text {
    margin-left: 5px;
}

.intro-text p:nth-child(3) {
    text-transform: lowercase;
}

.intro-text p:nth-child(4) {
    margin-bottom: 30px;
    text-transform: lowercase;
}

.intro,
.home-img {
    width: 50%;
    padding: 15px;
}

.home-img .img-box {
    margin: auto;
    max-width: 360px;
    border-radius: 50%;
    border: 5px solid var(--white-alpha-40);
    background-color: var(--white-alpha-25);
}

.home-img .img-box img {
    width: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.5s;
}

.midget-salt-bae {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    transform: translate(-115.5%, -355.5%) rotate(-50deg);
    transition: all 0.25s ease;
    height: 60px;
    width: 60px;
}

.midget-salt-bae:hover {
    transform: translate(-100.5%, -370.5%) rotate(-35deg);
}

.html {
    z-index: 100;
    display: none;
    cursor: default;
    position: absolute;
    transform: translate(-450%, -1100%) rotate(-40deg);
    transition: all 0.25s ease;
    height: 15px;
    width: 15px;
}

.html:hover {
    transform: translate(-450%, -1100%) rotate(-40deg) scale(1.1);
}

.css {
    z-index: 100;
    display: none;
    cursor: default;
    position: absolute;
    transform: translate(-400%, -950%) rotate(40deg);
    transition: all 0.25s ease;
    height: 15px;
    width: 15px;
}

.css:hover {
    transform: translate(-400%, -950%) rotate(40deg) scale(1.1);
} 

.js {
    z-index: 100;
    display: none;
    cursor: default;
    position: absolute;
    transform: translate(-450%, -800%) rotate(-40deg);
    transition: all 0.25s ease;
    height: 15px;
    width: 15px;
}

.js:hover {
    transform: translate(-450%, -800%) rotate(-40deg) scale(1.1);
} 

.m-logo {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    transform: translate(-53%, -497%);
    transition: all 0.25s ease;
    height: 35px;
    width: 55px;
}

.m-logo:hover {
    transform: translate(-53%, -497%) scale(1.1);
}

.github-ninja {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    transform: translate(65%, -350%);
    transition: all 0.25s ease;
    height: 60px;
    width: 60px;
}

.github-ninja:hover {
    transform: translate(65%, -350%) scale(1.1);
}

.pikachu {
    z-index: 999;
    display: none;
    cursor: pointer;
    position: absolute;
    transform: translate(50%, -262%);
    transition: all 0.25s ease;
    height: 60px;
    width: 60px;
}

.pikachu:hover {
    transform: translate(50%, -262%) scale(1.1);
}

.instagram {
    z-index: 100;
    display: none;
    cursor: pointer;
    position: absolute;
    transition: all 0.25s ease;
    transform: translate(50%, -262%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    transform: translate(-50%, -390%) scale(1);
    -webkit-text-fill-color: transparent;   
    -webkit-background-clip: text;
    background-clip: text;
}

.instagram i {
    font-size: 30px !important;
}

.instagram:hover {
    transform: translate(-50%, -390%) scale(1.1);
}

.invaders {
    border: none;
    width: 600px;
    height: 600px;
}

/* ~~~~~~~~~~~~~~~~~~~~~ IMAGE POPUP ~~~~~~~~~~~~~~~~~~~~~ */

.image-popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    visibility: hidden;
}

.image-popup.open {
    overflow: hidden;
    visibility: visible;
}

.image-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 15px;
    min-height: 100vh;
}

.image-content {
    opacity: 0;
    padding: 15px;
    max-width: 800px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--white-alpha-40);
    background-color: var(--white-alpha-25);
}

.image-popup.open .image-content {
    opacity: 1;
    min-width: 200px;
    transition: all 0.5s ease-in-out;
}

.image-popup-header {
    position: relative;
}

.image-popup-header .btn {
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white-alpha-40);
    background-color: var(--white-alpha-25);
    transition: all 0.25s ease;
    position: absolute;
    font-size: large;
    cursor: pointer;
    border: none;
    z-index: 100;
    right: -30px;
    top: -30px;
}

.image-popup-header .btn:hover {
    color: var(--white);
    background-color: var(--dark-blue);
    border: 1px solid var(--white-alpha-40);
}

.image-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.image-body img {
    width: 100%;
    border-radius: 5px;
}

/* ~~~~~~~~~~~~~~~~~~~~~ TOOLTIP ~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: 767px) {
    [data-tooltip]:before {
        content: attr(data-tooltip);
        border: 1px solid var(--white-alpha-40);
        transition: all 0.25s ease;
        text-transform: capitalize;
        color: var(--dark-blue);
        border-radius: 10px;
        position: absolute;
        font-size: medium;
        font-weight: 400;
        width: 180px;
        padding: 5px;
        opacity: 0;
    }

    [data-tooltip]:hover:before {
        background: var(--white-alpha-25);
        margin-top: 100px;
        opacity: 1;
    }

    [data-tooltip]:not([data-tooltip-persistent]):before {
        pointer-events: none;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~ RESPONSIVE ~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: 767px) and (max-height: 600px) {
    .image-popup.open {
        overflow: auto;
    }
}

@media (min-width: 767px) and (max-height: 900px) {
    .image-content {
        max-width: 650px;
    }
}

@media (max-width: 1045px) {
    .loader div {
        border: 2px solid transparent;
    }

    .container {
        padding: 0;
    }

    .intro,
    .home-img {
        width: 100%;
    }

    .intro {
        text-align: center;
    }

    .home-img {
        order: -1;
    }

    .home-img .img-box {
        max-width: 300px;
    }

    .intro .btn {
        margin: 0 1px 15px;
    }

    .bg-icons-box .bg-icon:nth-child(1) {
        top: 10%;
        left: 5%;
        width: 100px;
        height: 100px;
    }

    .bg-icons-box .bg-icon:nth-child(2) {
        top: 45%;
        left: 75%;
        width: 100px;
        height: 100px;
    }

    .bg-icons-box .bg-icon:nth-child(3) {
        top: 15%;
        right: 10%;
        width: 100px;
        height: 100px;
    }

    .bg-icons-box .bg-icon:nth-child(4) {
        top: 75%;
        left: 80%;
        width: 100px;
        height: 100px;
    }

    .bg-icons-box .bg-icon:nth-child(5) {
        top: 35%;
        left: 10%;
        width: 100px;
        height: 100px;
    }

    .bg-icons-box .bg-icon:nth-child(6) {
        top: 55%;
        left: 5%;
        width: 100px;
        height: 100px;
    }

    .bg-icons-box .bg-icon:nth-child(7) {
        top: 75%;
        left: 15%;
        width: 100px;
        height: 100px;
    }

    .midget-salt-bae {
        transform: translate(-115.5%, -355.5%) rotate(-50deg);
        height: 50px;
        width: 50px;
    }

    .midget-salt-bae:hover {
        transform: translate(-100.5%, -370.5%) rotate(-35deg);
    }

    .html {
        transform: translate(-550%, -1350%) rotate(-40deg);
        height: 10px;
        width: 10px;
    }
    
    .html:hover {
        transform: translate(-550%, -1350%) rotate(-40deg) scale(1.1);
    }
    
    .css {
        transform: translate(-500%, -1200%) rotate(40deg);
        height: 10px;
        width: 10px;
    }
    
    .css:hover {
        transform: translate(-500%, -1200%) rotate(40deg) scale(1.1);
    } 
    
    .js {
        transform: translate(-550%, -1050%) rotate(-40deg);
        height: 10px;
        width: 10px;
    }
    
    .js:hover {
        transform: translate(-550%, -1050%) rotate(-40deg) scale(1.1);
    } 

    .m-logo {
        transform: translate(-52%, -486%);
        height: 30px;
        width: 50px;
    }

    .m-logo:hover {
        transform: translate(-52%, -486%) scale(1.1);
    }

    .github-ninja {
        transform: translate(64%, -350%);
        height: 50px;
        width: 50px;
    }

    .github-ninja:hover {
        transform: translate(64%, -350%) scale(1.1);
    }

    .pikachu {
        transform: translate(50%, -262%);
        height: 50px;
        width: 50px;
    }
    
    .pikachu:hover {
        transform: translate(50%, -262%) scale(1.1);
    }

    .instagram {
        transform: translate(-50%, -370%) scale(1);
    }
    
    .instagram i {
        font-size: 25px !important;
    }
    
    .instagram:hover {
        transform: translate(-50%, -370%) scale(1.1);
    }

    .invaders {
        width: 500px;
        height: 500px;
    }

    .loader div:nth-child(1) {
        width: 80px;
        height: 80px;
        border-color: var(--dark-blue);
        animation-duration: 0.75s;
    }

    .loader div:nth-child(2) {
        width: 60px;
        height: 60px;
        border-color: var(--red);
        animation-duration: 1s;
    }

    .loader div:nth-child(3) {
        width: 40px;
        height: 40px;
        border-color: var(--dark-blue);
        animation-duration: 1.25s;
    }

    .loader div:nth-child(4) {
        width: 20px;
        height: 20px;
        border-color: var(--red);
        animation-duration: 1.5;
    }
}

@media (max-width: 575px) {
    p {
        font-size: small;
    }

    .intro-text h1 {
        font-size: large;
    }

    .home-img .img-box {
        max-width: 250px;
    }

    .section-title h1 {
        font-size: large;
    }

    .btn {
        font-size: small;
        padding: 10px 20px;
    }

    .bg-icons-box .bg-icon {
        width: 50px !important;
        height: 50px !important;
    }

    .midget-salt-bae {
        transform: translate(-115%, -370%) rotate(-50deg);
        height: 40px;
        width: 40px;
    }

    .midget-salt-bae:hover {
        transform: translate(-105.5%, -380%) rotate(-35deg);
    }

    
    .html {
        transform: translate(-450%, -1150%) rotate(-40deg);
    }
    
    .html:hover {
        transform: translate(-450%, -1150%) rotate(-40deg) scale(1.1);
    }
    
    .css {
        transform: translate(-400%, -1000%) rotate(40deg);
    }
    
    .css:hover {
        transform: translate(-400%, -1000%) rotate(40deg) scale(1.1);
    } 
    
    .js {
        transform: translate(-450%, -850%) rotate(-40deg);
    }
    
    .js:hover {
        transform: translate(-450%, -850%) rotate(-40deg) scale(1.1);
    } 

    .m-logo {
        transform: translate(-53%, -486%);
        height: 25px;
        width: 35px;
    }

    .m-logo:hover {
        transform: translate(-53%, -486%) scale(1.1);
    }

    .github-ninja {
        transform: translate(68%, -360%);
        height: 40px;
        width: 40px;
    }

    .github-ninja:hover {
        transform: translate(68%, -360%) scale(1.1);
    }

    .pikachu {
        transform: translate(55%, -270%);
        height: 40px;
        width: 40px;
    }
    
    .pikachu:hover {
        transform: translate(55%, -270%) scale(1.1);
    }
    
    .instagram i {
        font-size: 20px !important;
    }

    .invaders {
        width: 310px;
        height: 450px;
    }

    .image-popup-header .btn {
        width: 25px;
        height: 25px;
        font-size: medium;
        right: -25px;
        top: -25px;
    }
}
