@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --red: #E02F6B;
    --pink: #EFA2B4;
    --cyan: #AEF1EE;
    --white: #FFFFFF;
    --orange: #FFA500;
    --green: #CDDC39;
    --blue: #0000FF;
    --dark-blue: #18293C;
    --white-alpha-40: rgba(225, 255, 255, 0.40);
    --white-alpha-25: rgba(225, 255, 255, 0.25);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    padding: 5vh 15px;
    overflow-x: hidden;
    font-weight: 300;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom right, var(--pink), var(--cyan));
}

body::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.10;
    position: fixed;
    line-height: 1.5;
    color: var(--dark-blue);
    background-color: var(--green);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

section {
    min-height: 90vh;
    border-radius: 30px;
    border: 1px solid var(--white-alpha-25);
    background-color: var(--white-alpha-40);
    backdrop-filter: blur(5px);
}

.main {
    margin: auto;
    max-width: 1200px;
}

.container {
    width: 100%;
    padding: 0 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.center {
    align-items: center;
}

.hidden {
    display: none !important;
}

/* ~~~~~~~~~~~~~~~~~~~~~ SCROLL BAR ~~~~~~~~~~~~~~~~~~~~~ */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--red);
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

/* ~~~~~~~~~~~~~~~~~~~~~ BUTTONS ~~~~~~~~~~~~~~~~~~~~~ */

.btn {
    cursor: pointer;
    overflow: hidden;
    line-height: 1.5;
    font-weight: 500;
    font-size: medium;
    user-select: none;
    position: relative;
    padding: 10px 30px;
    border-radius: 30px;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.25s ease;
    text-transform: capitalize;
    border: 1px solid var(--white-alpha-40);
    background-color: var(--white-alpha-25);
    color: var(--red);
}

.btn::before {
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    position: absolute;
    transition: all 0.25s ease;
    background-color: var(--red);
}

.btn:hover {
    color: var(--white);
}

.btn:hover::before {
    width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~ HOME ~~~~~~~~~~~~~~~~~~~~~ */

.home-section {
    display: flex;
    padding: 120px 0;
}

.intro {
    font-size: large;
    text-transform: capitalize;
}

.intro-text {
    margin-left: 5px;
}

.intro-text p:nth-child(3) {
    margin-bottom: 30px;
}

.intro, .home-img {
    width: 50%;
    padding: 15px;
}

.home-img .img-box {
    margin: auto;
    max-width: 360px;
    border-radius: 50%;
    border: 5px solid var(--white-alpha-25);
    background-color: var(--white-alpha-40);
}

.home-img .img-box img {
    width: 100%;
    border-radius: 50%;
}

/* ~~~~~~~~~~~~~~~~~~~~~ SECTION ~~~~~~~~~~~~~~~~~~~~~ */

.section-padding {
    padding: 80px 0;
}

.section-title {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 50px;
    text-transform: capitalize;
}

/* ~~~~~~~~~~~~~~~~~~~~~ ABOUT ~~~~~~~~~~~~~~~~~~~~~~ */

.about-text {
    width: 60%;
    padding: 0 15px;
}

.about-img {
    width: 40%;
    padding: 0 15px;
}

.about-img .img-box {
    max-width: 380px;
    border: 5px solid var(--white-alpha-25);
    background-color: var(--white-alpha-40);
}



