.project-section {
    padding: 50px;
}

.project-section h1 {
    padding-bottom: 30px;
}

.project-item {
    margin: 0 15px 30px;
    width: calc((100% / 3) - 30px);
}

.project-item h2 {
    margin: 20px 0;
    font-size: large;
    text-transform: capitalize;
}

.project-item-thumbnail {
    margin: auto;
    padding: 10px;
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid var(--white-alpha-40);
    background-color: var(--white-alpha-25);
}

.project-item-thumbnail img {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

.project-item-details {
    display: none;
}

.project-item-btn {
    width: 40px;
    height: 40px;
    margin: 5px 5px;
    cursor: pointer;
    font-size: x-large;
    border-radius: 50%;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: var(--dark-blue);
    transition: all 0.25s ease;
    border: 1px solid var(--white-alpha-40);
    background-color: var(--white-alpha-25);
}

.project-item-btn:hover {
    color: var(--white);
    background-color: var(--dark-blue);
}

.project-popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    visibility: hidden;
}

.project-popup.open {
    overflow-y: auto;
    visibility: visible;
}

.popup-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 15px;
    min-height: 100vh;
}

.popup-content {
    width: 100%;
    padding: 30px;
    max-width: 900px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--white-alpha-40);
    background-color: var(--white-alpha-25);
    transform: scale(0.5);
    opacity: 0;
}

.project-popup.open .popup-content {
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease;
}

.popup-header {
    position: relative;
}

.popup-header .btn {
    padding: 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    font-size: larger;
    right: -45px;
    top: -45px;
}

.popup-header h2 {
    margin: 20px;
    font-size: larger;
    text-transform: capitalize;
}

.popup-close:hover {
    color: var(--white);
    background-color: var(--dark-blue);
}

.popup-close i {
    font-size: x-large;
}

.popup-thumbnail {
    padding: 25px;
}

.popup-thumbnail img {
    width: 100%;
    border-radius: 10px;
}

.popup-body {
    display: flex;
    flex-wrap: wrap;
}

.popup-body > div {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 20px 0;
}

.popup-body .description {
    width: 65%;
    text-align: left;
    padding: 20px 25px;
}

.popup-body .project-links {
    height: auto;
    margin: 20px auto;
}

.popup-body .project-links a {
    margin: 5px;
}

.popup-body .project-links a:hover {
    color: var(--white);
    background-color: var(--dark-blue);
}

.popup-body .general-info {
    width: 35%;
}

.popup-body .general-info h5 {
    font-size: medium;
    padding-bottom: 20px;
    text-transform: capitalize;
}

.popup-body .general-info a {
    display: inline-block;
}

/* ~~~~~~~~~~~~~~~~~~~~~ RESPONSIVE ~~~~~~~~~~~~~~~~~~~~~ */

@media (max-width: 1045px) {
    .project-item {
        width: calc(50% - 30px);
    }

    .popup-header h2 {
        margin: 10px;
    }

    .popup-body {
        flex-direction: column;
    }

    .popup-body > div {
        width: 90%;
    }

    .popup-body .description {
        width: 100%;
    }

    .popup-body .general-info {
        width: 100%;
    }

    .popup-body .general-info h5 {
        padding-bottom: 30px;
    }

    .popup-header .btn {
        width: 30px;
        height: 30px;
        right: -40px;
        top: -40px;
    }

    .popup-close i {
        font-size: large;
    }
}

@media (max-width: 767px) {
    .popup-body .description {
        text-align: center;
    }

    .project-item {
        width: calc(100% - 30px);
    }
}

@media (max-width: 575px) {
    .popup-header h2 {
        font-size: medium;
    }

    .popup-body > div {
        width: 100%;
    }

    .popup-body .description {
        margin-top: -20px;
    }
}