.secret-links,
.secret-links a, 
.giant-salt-bae {
    display: none;
}

.secret-links a.fade-out,
.giant-salt-bae.fade-out {
    opacity: 0;
    visibility: hidden;
}

.secret {
    z-index: -100;
    position: absolute;
    transform: translate(-30%, -110%);
    height: 550px;
    width: 550px;
}

.giant-salt-bae {
    top: -10px;
    right: 10px;
    position: relative;
    transition: all 1s ease-in-out;
    transform: rotate(-35deg) scale(1);
    cursor: pointer;
    display: block;
    height: 500px;
    width: 500px;
    opacity: 0.9;
}

.giant-salt-bae:hover {
    transform: rotate(-35.5deg) scale(1.01);
}

.secret-links {
    top: 50%;
    right: 50%;
    display: flex;
    text-transform: none;
    flex-direction: column;
    font-family: cursive, sans-serif !important;
    transform: translate(-50%, -50%);
    transition: all 1s ease;
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
}

.secret-links a {
    width: 40px;
    height: 40px;
    display: block;
    margin: 5px 5px;
    padding: 5px 5px;
    font-size: larger;
    border-radius: 50%;
    position: relative;
    transition: all 0.25s ease-in-out;
    border: 1px solid var(--white-alpha-40);
    background-color: var(--white-alpha-25);
}

.secret-links a:nth-child(1) {
    top: -400px;
    left: -25px;
    color: var(--dark-blue);
    animation: bounceAndSpin 50s infinite;
}

.secret-links a:nth-child(2) {
    top: -390px;
    left: 25px;
    color: var(--dark-blue);
    animation: bounceAndSpin 55s infinite;
}

.secret-links a:nth-child(1):hover,
.secret-links a:nth-child(2):hover {
    color: var(--white);
    background-color: var(--dark-blue);
}

.secret-links a:nth-child(3) {
    top: -380px;
    left: -25px;
    color: var(--blue);
    animation: bounceAndSpin 60s infinite;
}

.secret-links a:nth-child(4) {
    top: -370px;
    left: 25px;
    color: var(--blue);
    animation: bounceAndSpin 65s infinite;
}

.secret-links a:nth-child(3):hover,
.secret-links a:nth-child(4):hover {
    color: var(--white);
    background-color: var(--blue);
}

.secret-links a:nth-child(5) {
    top: -360px;
    left: -25px;
    color: var(--red);
    animation: bounceAndSpin 70s infinite;
}

.secret-links a:nth-child(6) {
    top: -350px;
    left: 25px;
    color: var(--red);
    animation: bounceAndSpin 75s infinite;
}

.secret-links a:nth-child(5):hover,
.secret-links a:nth-child(6):hover {
    color: var(--white);
    background-color: var(--red);
}

.secret-links a:nth-child(7) {
    top: -340px;
    left: -25px;
    color: var(--green);
    animation: bounceAndSpin 80s infinite;
}

.secret-links a:nth-child(8) {
    top: -330px;
    left: 25px;
    color: var(--green);
    animation: bounceAndSpin 85s infinite;
}

.secret-links a:nth-child(8):hover,
.secret-links a:nth-child(7):hover {
    color: var(--white);
    background-color: var(--green);
}

/* ~~~~~~~~~~~~~~~~~~~~~ CLASSIFIED ~~~~~~~~~~~~~~~~~~~~~ */

.classified {
    opacity: 0 !important;
    display: none !important;
}

.classified.exposed {
    opacity: 0 !important;
    display: block !important;
}

.classified.exposed:hover {
    opacity: 1 !important;
}

.exposed.😱:hover {
    font-size: smaller !important;
}

@media (min-width: 1046px) {
    .secret-links a:nth-child(9) {
        top: -320px;
        left: -25px;
        cursor: help;
        color: var(--green);
        animation: bounceAndSpin 85s infinite;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~ IMPACT ~~~~~~~~~~~~~~~~~~~~~ */

#crash-site {
    top: 15vh;
    right: 60vw;
    width: 200px;
    height: 200px;
    z-index: 1000;
    position: absolute;
    background-size: cover;
    background-position: 50% 0;
    transition: all 0.5s ease-in;
    background-image: url(/assets/images/hole.png);
}

@keyframes crash { 
    0% {
        transform: translate(-100vw);
        background-image: url(/assets/images/astroid.gif);
    } 49% {
        background-image: url(/assets/images/astroid.gif);
    } 50% {
        transform: translate(0);
        background-image: url(/assets/images/explosion.gif);
    } 60% {
        background-image: url(/assets/images/explosion.gif);
    } 70% {
        background-image: url(/assets/images/explosion.gif);
    } 80% {
        background-image: url(/assets/images/hole.png);
    } 
}

@keyframes shake {
    50% {
        transform: rotate(0deg);
        background-image: linear-gradient(to bottom right, var(--light-blue), var(--light-purple));
    } 52% {
        transform: rotate(4deg);
        background-image: linear-gradient(to bottom right, var(--red), var(--dark-blue));
    } 54% {
        transform: rotate(-6deg);
        background-image: linear-gradient(to bottom right, var(--light-blue), var(--light-purple));
    } 56% {
        transform: rotate(8deg);
        background-image: linear-gradient(to bottom right, var(--red), var(--dark-blue));
    } 58% {
        transform: rotate(-12deg);
        background-image: linear-gradient(to bottom right, var(--light-blue), var(--light-purple));
    } 60% {
        transform: rotate(14deg);
        background-image: linear-gradient(to bottom right, var(--red), var(--dark-blue));
    } 100% {
        transform: rotate(16deg);
        background-image: linear-gradient(to bottom right, var(--red), var(--dark-blue));
    }
}

@keyframes restore {
    0% {
        transform: rotate(16deg);
    } 100% {
        transform: rotate(0deg);
    }
}

@keyframes upside {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(180deg);
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~ RESPONSIVE ~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: 1046px) {
    .giant-salt-bae {
        top: 70px;
        right: -30px;
        transform: rotate(-35deg) scale(1);
        height: 400px;
        width: 400px;
    }

    .secret-links {
        top: 54%;
        right: 47%;
    }
}

@media (max-height: 800px) and (min-width: 1226px) {
    .giant-salt-bae {
        top: 70px;
        right: -40px;
        transform: rotate(-35deg) scale(1);
        height: 400px;
        width: 400px;
    }

    .secret-links {
        top: 55%;
        right: 47%;
    }
}

@media (max-width: 1045px) {
    .secret {
        top: 50.5%;
        right: 55.5%;
        transform: translate(50%, -85%);
        height: 400px;
        width: 400px;
    }

    .giant-salt-bae {
        transform: translate(-5%, -15%) rotate(-30deg) scale(1);
        height: 300px;
        width: 300px;
    }

    .giant-salt-bae:hover {
        transform: translate(-5%, -15%) rotate(-32deg) scale(1.025);
    }

    .secret-links {
        top: 38%;
        right: 72%;
    }

    .secret-links a {
        width: 35px;
        height: 35px;
        border: none;
        display: block;
        margin: 5px 5px;
        padding: 5px 5px;
        font-size: larger;
        border-radius: 50%;
        position: relative;
        box-shadow: 1px 1px;
        background-color: transparent;
        transition: all 0.25s ease-in-out;
    }

    .secret-links a:nth-child(1) {
        top: -300px;
        left: 40px;
        animation: bounceAndSpin 40s infinite;
    }

    .secret-links a:nth-child(2) {
        top: -250px;
        left: 40px;
        animation: bounceAndSpin 45s infinite;
    }

    .secret-links a:nth-child(3) {
        top: -200px;
        left: 80px;
        animation: bounceAndSpin 50s infinite;
    }

    .secret-links a:nth-child(4) {
        top: -190px;
        left: 160px;
        animation: bounceAndSpin 55s infinite;
    }

    .secret-links a:nth-child(5) {
        top: -230px;
        left: 260px;
        animation: bounceAndSpin 60s infinite;
    }

    .secret-links a:nth-child(6) {
        top: -280px;
        left: 380px;
        animation: bounceAndSpin 65s infinite;
    }

    .secret-links a:nth-child(7) {
        top: -410px;
        left: 420px;
        animation: bounceAndSpin 70s infinite;
    }

    .secret-links a:nth-child(8) {
        top: -550px;
        left: 410px;
        animation: bounceAndSpin 75s infinite;
    }

    #crash-site {
        top: -5vh;
        right: 25vw;
        width: 150px;
        height: 150px;
    }

    .coordinate {
        width: 0px !important;
        height: 35px !important;
        box-shadow: none !important;
    }
}

@media (max-height: 950px) and (max-width: 1045px) {
    .secret-links {
        top: 32% !important;
    }
}

@media (max-width: 830px) and (min-width: 574px) {
    .secret-links {
        top: 38%;
        right: 77%;
    }
}

@media (max-width: 575px) {
    .giant-salt-bae {
        transform: translate(18.5%, 0%) rotate(-25deg) scale(1);
        height: 250px;
        width: 250px;
    }

    .giant-salt-bae:hover {
        transform: translate(18.5%, 0%) rotate(-26deg) scale(1.025);
    }

    .secret-links {
        top: 38%;
        right: 80%;
        font-family: 'Poppins', sans-serif !important;
    }

    .secret-links a {
        box-shadow: none;
    }

    .secret-links a:nth-child(1) {
        top: -300px;
        left: 50px;
        animation: bounceAndSpin 35s infinite;
    }

    .secret-links a:nth-child(2) {
        top: -250px;
        left: 40px;
        animation: bounceAndSpin 40s infinite;
    }

    .secret-links a:nth-child(3) {
        top: -200px;
        left: 60px;
        animation: bounceAndSpin 45s infinite;
    }

    .secret-links a:nth-child(4) {
        top: -190px;
        left: 130px;
        animation: bounceAndSpin 50s infinite;
    }

    .secret-links a:nth-child(5) {
        top: -230px;
        left: 220px;
        animation: bounceAndSpin 55s infinite;
    }

    .secret-links a:nth-child(6) {
        top: -300px;
        left: 310px;
        animation: bounceAndSpin 60s infinite;
    }

    .secret-links a:nth-child(7) {
        top: -420px;
        left: 330px;
        animation: bounceAndSpin 65s infinite;
    }

    .secret-links a:nth-child(8) {
        top: -530px;
        left: 320px;
        animation: bounceAndSpin 70s infinite;
    }

    .coordinate {
        width: 20px !important;
        height: 35px !important;
        box-shadow: none !important;
        font-size: medium !important;
    }
}

@media (max-height: 650px) and (max-width: 575px) {
    .giant-salt-bae {
        transform: translate(15.5%, 5%) rotate(-30deg) scale(1);
        height: 250px;
        width: 250px;
    }

    .giant-salt-bae:hover {
        transform: translate(15.5%, 5%) rotate(-31deg) scale(1.025);
    }

    .secret-links {
        top: 28% !important;
        right: 80% !important;
    }
}

@media (max-width: 440px) {
    .secret-links {
        right: 89%;
    }
}

@media (max-height: 650px) and (max-width: 440px) {
    .secret-links {
        top: 28% !important;
        right: 90% !important;
    }
}
